  <h2> Edit Games </h2>

  <form action="/games/<%=@game.id%>" method="POST">
    <input  id="hidden" type="hidden" name="_method" value="patch">

     <label> Board Game </label>

     <input id= "content" type="text" name="content" value="<%= @game.content %>"><br>

    <br></br>

    <input type="submit" value="submit">
  </form>
