<%# main page lists games (not under current user, all games, ask luke what's the best practice) %>


<h1>Welcome, <%= current_user.username %></h1>

<% current_user.games.each do |game| %> 
<h3><a href="/games/<%=game.id %>"><%= game.title%></a></h3>




    <% end %>

    <a href="/games/new">Add A Game</a><br>

    <a href="/users/<%= current_user.slug %>"> My Board Games </a><br>

    <a href="/logout">Log Out</a>
